.contact {
  box-sizing: border-box;
  background: url(./Multimedia/portada2.jpg) ;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  padding-bottom: 1rem;
}
.contact .head {
  background-color: $colorFormContacto;
  color: white;
  border-radius: 5px;
  margin-top: -40px;
  -webkit-box-shadow: -1px 9px 27px -8px rgba(235,23,235,1);
  -moz-box-shadow: -1px 9px 27px -8px rgba(235,23,235,1);
  box-shadow:-1px 9px 27px -8px rgba(235,23,235,1) ;
}
.effect-1 {
  border:0;
  outline: none;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}
.effect-1 ~ .Focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: $colorFormContacto;
  transition: 0.4s;
}
.effect-1:focus ~ .Focus-border {
  width: 100%;
  transition: 0.4s;
  left:0;
}
.btn1 {
  background-color: $colorFormContacto;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 145px;
}.btn1:hover {
  -webkit-box-shadow: -1px 9px 27px -8px rgba(235,23,235,1);
  -moz-box-shadow: -1px 9px 27px -8px rgba(235,23,235,1);
  box-shadow:-1px 9px 27px -8px rgba(235,23,235,1) ;
}