.bodyFormSesion {
  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(./Multimedia/portada2.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}
.contenedorLogin {
  width: 100%;
  padding: 15px;
  
}
.formularioLogin {
  background: rgba(255, 255, 255, 0.795);
  margin-top: 150px;
  padding: 3px;
}
.formularioLogin {
  h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
  }
  .contenedorLogin{

  input[type="text"],
  input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
  }
  .input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
  }
  .icon {
    min-width: 50px;
    text-align: center;
    color: #999;
  }
  .button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover {
    background: cadetblue;
  }
  p {
    text-align: center;
  }
  .link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
  }
  .link:hover {
    color: cadetblue;
  }
}
}
@media (min-width: 768px) {
  .formularioLogin {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}
